@import "../../style/global.css";
@import "../../style/common.css";
@import "../../style/component/component.css";
@import "../../style/media/mobile.scss";

:global(.dashboad-wrapper){
  display: grid;
  h1 {
    color: antiquewhite;
  }
}
.css-module-test {
  border: 1px solid aqua;
}

.css-module-test-change {
  border: 1px solid deeppink;
}
