.media-wrapper {
  background: #d2e4f5;
  transition: background-color 2s ;
  display: grid;
}
.bg-common {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg {
  background: url("../../assets/images/tree.png");
}

.bg2 {
  background: url("../../assets/images/rocket.svg");
}

.bg3 {
  background: url("../../assets/images/sea.jpg");
}


@media print, screen and (min-width: 1024px) {
  .media-wrapper {
    background: darkorange;
    transition: background-color 2s ;
  }
}
body {
  padding: 50px;
}

@media print, screen and (min-width: 768px) and (max-width: 1023px) {
  .media-wrapper {
    background: greenyellow;
    transition: background-color 2s ;
  }
}
